header {
  background-color: #b16c1a;
}

#brand {
  float: left;
  font-size: 30px;
}

.hstack {
  display: flex;
}
.gstack {
  display: flex;
}

.login,
.createacc {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
